<% content_for :title, "Editing cable" %>

<h1>Editing cable</h1>

<%= render "form", cable: @cable %>

<br>

<div>
  <%= link_to "Show this cable", @cable %> |
  <%= link_to "Back to cables", cables_path %>
</div>
